<html>
<head>
    <title>Ebaõnnestunud registreering</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="icon" href="logo.jpg"/>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script src="form.js"></script>
</head>
<body>
<div th:replace="menu :: main-menu"></div>
<p th:text="#{registreerimine.overlapping}">registreerimine.overlapping</p>
</body>
</html>